<!DOCTYPE html>
<html>
  <head>
    <title>Organizr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    
    <%= javascript_pack_tag    'app/index' %>
    <%= stylesheet_pack_tag    'app/assets/stylesheets/app' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
